// * {
//   background-color: rgba(33, 37, 41, 0.4);
// }

body {
  background-color: rgba(231, 231, 231, 0.3);
}
header {
  padding: 15px 35px;
  // background-color: rgba(33, 37, 41, 0.4);
  background-color: rgb(234, 234, 234);
}
ol li:first-child {
  font-size: 1.4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #233e65 0%, #0d6dfd 100%);
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  text-decoration: underline;
}

ol li {
  font-size: 1.4rem;
  // background-color: #ff8177;
  // background-image: linear-gradient(to top, #233e65 0%, #0d6dfd 100%);
  // -webkit-text-fill-color: transparent;
  // -moz-text-fill-color: transparent;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-size: 100%;
}
